*.pyc
*.JPG
*.jpg
*.png

ckpt/
vis/
log/
data/
datasets/
config/
tmp_results/
results_for*
results_for_hrNet
res
core*
newly*

plant_dataset/
results/
new_train_annotations/
new_train_annotations_colored/
new_train_noBack_annotations/
new_train_noBack_annotations_colored/
new_val_annotations/
new_val_annotations_colored/
new_val_noBack_annotations/
pretrained/
tmp_results/
inspect_odgt_decom_plant_davis_data.ipynb

how

.ipynb_checkpoints

ADE_val*.jpg
ADE_val*.png

.idea/
